@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&family=Dancing+Script:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Moon+Dance&family=Teko:wght@300..700&display=swap');


body {
        background: linear-gradient(to right, #EFEFED, #C3B89D); 
}


#inicio {
            background-image: url(../fotos/portada.png);
            background-repeat: no-repeat;
            background-size: cover;
}


#logo {
        display: block;
        width: 350px;
        height: 350px;
}


#ingreso {
            border: none;
            justify-content: right;
}


h2 {
        margin-left: 90%;
        color: black;
        display: flex;
        font-size: 2em;
        justify-content: right;
        justify-content: center;

}


label { 
        font-size: 2em;
        display: flex;
        color: black;
        justify-content: center;

}


ul {
    font-size: 1.5 em;
    list-style-type: none;
    flex-grow: 1;
    display: flex;
    justify-content: space-evenly;
}


li {
    color: white;
    text-decoration: none;
}


h1 { 
    text-align: center; 
    padding-top: 10px;
    padding-bottom: 10px;
}


form {
        
        display: flex;
        justify-content: right;
        padding: 10px;
        border: 5px double #878E63;
}


img {           
        border-radius: 60%;
        height: 150px;
        width: 150px;
        margin-left: 38%;
        
}


section {
            display: flex;
            flex-wrap: wrap;
            justify-content:space-between;
            padding-top: 10px;

}


p {
        display: flex;
        justify-content: center;
        font-size: 19px;
        font-family: "Dancing Script", cursive;
        padding-left: 10%;
        padding-right: 10%;
}	


h3 {
        display: flex;
        align-items: center;
        flex-direction: column;
        font-size: 35px;
        font-family: "Caveat", cursive;
}


.comprar {
            color: white;
            background-color:darkolivegreen;
            margin-left: 45%;
}


div {
        padding-bottom: 20px;
}   