body {
    background: linear-gradient(to right, #EFEFED, #C3B89D); 
}

div {
    background-color: #9B9D8B;
    margin-left:auto;
    margin-right:auto;
}


#logo {
    display: block;
    width: 20%;
    margin-left:auto;
    margin-right:auto;
}

ul {
    font-size: xx-large;
    list-style-type:circle;
}


h1 { 
    text-align: center; 
    padding-top: 10px;
    padding-bottom: 10px;  
}

h2 {
    color: white;
    display: flex;

}

label {
        display: flex;
        text-align:center;
        margin-right: 10%;
        color: white;
}

#ingreso {
            display: block;
            justify-content: center;
    }	



form {
        display: flex;
        justify-content: center;
}
